* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --color-font: #fff;
    --bg-color-main: #f7f7f7;
    --bg-color-menu: #12577B;
    --btn-color: dodgerblue;
    --display-fx: flex;
    --fx-direction-cl: column;
    --center: center;
    --hundred-porcent: 100%;
}

body {
    display: var(--display-fx);
    background-color: var(--bg-color-main);
}

/* MENU */

.menu {
    position: fixed;
    height: 100dvh;
    width: 20%;
    background-color: var(--bg-color-menu);
    padding: 50px 0 60px 0;
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .menu.active {
    transform: translateX(0);
  }
  

.link-menu {
    color: var(--color-font);
    padding: 15px;
    display: var(--display-fx);
    line-height: 22px;
    gap: 5px;
}

.link-menu:hover {
    background-color: #0d94c9;
    transition: 0.3s ease-in;
}

/* FIM MENU */

/* COMEÇO MAIN */

.dashboard {
    background-color: var(--bg-color-main);
    color: black;
    width: 80%;
    padding: 30px;
    margin-left: 20%;
}

.content {
    display: var(--display-fx);
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: space-evenly;
}

.total {
    background-color: #0d94c9;
    display: var(--display-fx);
    flex-direction: column;
    width: 170px;
    height: 50px;
    padding: 20px;
    border-radius: 5px;
    color: #F7F7F7;
    padding: 20px 20px 30px 20px;
    text-align: center;
}


#valor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    display: var(--display-fx);
    gap: 10px;
}

.comandas-abertas,
.comandas-fechadas {
    background-color: #00866f;
    display: var(--display-fx);
    flex-direction: var(--fx-direction-cl);
    justify-content: var(--center);
    align-items: var(--center);
    gap: 20px;
    width: 170px;
    padding: 20px;
    border-radius: 5px;
    color: #F7F7F7;
}

.comandas-fechadas {
    background-color: #af2108;
}

.funcionarios-ativos {
    background-color: #342296;
    display: var(--display-fx);
    flex-direction: var(--fx-direction-cl);
    justify-content: var(--center);
    align-items: var(--center);
    gap: 20px;
    width: 170px;
    padding: 20px;
    border-radius: 5px;
    color: #F7F7F7;
}

.metas {
    margin: 40px 0px 40px 0px;
    background-color: var(--color-font);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.metas h2 {
    margin-bottom: 15px;
}

.menu-metas,
.menu-produtos {
    display: var(--display-fx);
    justify-content: space-between;
    align-items: var(--center);
    padding: 10px;
}

.menu-produtos {
    padding: 15px;
}

.buttons {
    background-color: var(--btn-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--color-font);
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    height: 25px;
    width: var(--hundred-porcent);
}

.progress-bar-fill {
    height: var(--hundred-porcent);
    background-color: #28a745;
    width: 27%;
    display: var(--display-fx);
    align-items: var(--center);
    justify-content: var(--center);
    color: var(--color-font);
    font-weight: bold;
    transition: width 0.3s;
}

.produtos {
    width: var(--hundred-porcent);
    margin-top: 20px;
    border: #e0e0e0 1px solid;
    border-radius: 5px;
}



table {
    border-collapse: collapse;
    width: var(--hundred-porcent);
}

table th,
table td {
    padding: 12px 15px;
    border: #e0e0e0 1px solid;
    text-align: left;
}

table th {
    background-color: #c9c9c9;
    color: #000;
    font-weight: unset;
}

table td i {
    margin-right: 10px;
    cursor: pointer;
}

.action {
    text-align: var(--center);
}

.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    font-size: 32px;
    background-color: #12577B;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


@media (max-width: 730px){
    .menu {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        width: 60%;
        z-index: 1000;
        position: fixed;
        left: 0;
        top: 0;
        padding-top: 100px;
    }

    .menu.active {
        transform: translateX(0);
    }

    .menu-toggle {
        display: block;
    }

    .dashboard {
        width: 100%;
        margin-left: 0;
    }

    .content{
        margin: 10px;
    }

    .dashboard h1{
        text-align: center;
        
    }

    .metas{
        margin: 30px 10px 30px 10px;
    }

   .menu-metas{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
   }

    .total, 
    .comandas-abertas, 
    .comandas-fechadas, 
    .funcionarios-ativos{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 570px){

   .menu-metas{
    flex-wrap: wrap;
    justify-content: center;
    
   }

   #button{
        width: 350px;
   }
}